.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}
.modal {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  padding: 25px;
  background: white;
}